background-image: url()
background-size: cover
vertical-align: top
font-weight: bold
border: 1px solid #ccc
border-radius: 2px
overflow: hidden
position: absolute
line-height: 
text-align: center
background-repeat: no-repeat
text-overflow: ellipsis
overflow: hidden
display: inline-block
font-weight: bold
position: relative
position:fixed
overflow: auto
line-height: 16px
text-align: center
font-size: 16px
font-weight: 700
width:100%


      .star-48
        .star-item
          width:20px
          height:20px
          margin-right:22px
          background-size:20px 20px
          .on
            background-image: url('./star48_on@2x.png')
            @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
              background-image: url('./star48_on@3x.png')
          .half
            background-image: url('./star48_half@2x.png')
            @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
              background-image: url('./star48_half@3x.png')
          .off
            background-image: url('./star48_off@2x.png')
            @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
              background-image: url('./star48_off@3x.png')
          .last-child
            margin-right:0
      .star-36
        .star-item
          width:15px
          height:15px
          margin-right:6px
          background-size:15px 15px
          .on
            background-image: url('./star36_on@2x.png')
            @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
              background-image: url('./star36_on@3x.png')
          .half
            background-image: url('./star36_half@2x.png')
            @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
              background-image: url('./star36_half@3x.png')
          .off
            background-image: url('./star36_off@2x.png')
            @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
              background-image: url('./star36_off@3x.png')
          .last-child
            margin-right:0
      .star-24
        .star-item
backdrop-filter:blur(10px)